/* add fonts */

@font-face {
  font-family: "laleZar";
  src: url("../assets/fonts/Lalezar.ttf") format("truetype");
}

@font-face {
  font-family: "yekan";
  src: url("../assets/fonts/Yekan.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

body {
  font-family: "yekan";
  background: #141313;
  color: rgb(235, 234, 234);
}
.container {
  margin: 0 auto;
  max-width: 1400px;
}

.header {
  background: orange;
}

.header nav {
  color: black;
  text-align: center;
  font-size: 20px;
  font-family: "laleZar";
  padding: 10px 0px;
}

.hero-img {
  background-color: #141313;
  display: flex;
  justify-content: center;
  padding: 20px 0 10px;
}

.hero-img img {
  width: 100%;
}

.katooni-section {
  padding: 16px 0;
}
.section-title {
  color: orange;
  font-size: 40px;
}
.katooni-wrraper {
  display: flex;
  flex-wrap: wrap;
}
.katooni-item-col {
  padding: 16px;
  width: 100%;
}
.katooni-card {
  border: 1px solid #b9b9b9;
  background: #232222;
  border-radius: 15px;
  color: #b9b9b9;
}
.card-header img {
  width: 100%;
  height: auto;
  border-radius: 15px 15px 0 0;
}
.card-body {
  padding: 20px 10px;
}
